:root {
	--text-color: #000000;
	--border-color: #000000;
	--highlight-color: #ffffff;
	--hover-color: #f5f5f5;
	--contact-color: #ffffff;
	--contact-hover: #3a3b3c;
	--tan-color: #C4AA97;
	--gray-color: #97948B;
	--green-color: #272F1E;
	--blue-color: #6EA7D6;
}

body {
	background: black;
	color: var(--text-color);
	font-family: 'Open Sans', sans-serif;
}

.site-title-container {
	display: flex;
	flex-direction: column;
	background: black;
	color: white;
	margin: -1% -1%;
}

.top-container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--tan-color);
}

.container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--blue-color);
	border-top: 2px solid black;
}

.bottom-container {
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--blue-color);
	border-top: 2px solid black;
}
.footer {
	margin: -1% -1%;
	color: white;
	text-align: center;
	font-size: 10px;
	background: black;
}

.site-title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 15px;
}

.title-text {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 1%;
}

.about-text {
	text-align: center;
	font-size: 16px;
	display: inline-block;
	margin: 2% 5%;
}

.circle {
	width: 300px;
	height: 300px;
	overflow: hidden;
	float: left;
	margin: 2%;
	display: inline;
	border-radius: 50%;
	border: 10px solid var(--border-color);

}

.profile-pic {
	display: inline;
	height: 300px;
	width: auto;
	float: left;
	margin: 0 auto;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.contact-info {
	margin: 0 1% 2%;
}

.contact-button {
	border: 2px solid var(--border-color);
	height: 50px;
	width: 200px;
	margin: 1% auto;
	color: var(--text-color);
	border-radius: 2px;
	display: inline-block;
	background: var(--contact-color);
	vertical-align: top;
	border-radius: 10px;
}

.contact-text {
	text-align: center;
	display: inline-block;
	padding-top: 3px;
}

.email-text {
	  padding-top: 14px;
}

.link-item {
	display: inline-block;
    width: 250px;
	height: 300px;
	vertical-align: top;
	margin: 2% 2%;
}

.name {
	text-align: center;
}

.circle-image img {
	height: 250px;
	width: auto;
}

.circle-image {
	height: 250px;
	width: 250px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid var(--border-color);
}

.link-item:hover, .circle-image:hover
{
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: 0 0 2em var(--hover-color);
}

.contact-button:hover
{
	color: var(--contact-hover);
	border-color: var(--contact-hover);
	text-shadow: 0 0 2em var(--contact-hover);
}

