:root {
	--text-color: #000000;
	--border-color: #000000;
	--highlight-color: #ffffff;
	--hover-color: #f5f5f5;
	--background-color: #6EA7D6;
	--contact-color: #ffffff;
	--contact-hover: #3a3b3c;
}

body {
	background: var(--background-color);
	color: var(--text-color);
	font-family: 'Open Sans', sans-serif;
}

.site-title-container {
	display: flex;
	flex-direction: column;
	background: black;
	color: white;
	margin: -1% -1%;
}

.top-container {
	display: flex;
	flex-direction: column;
	background: var(--background-color);
	margin: 15px -1%;
}

.container {
	width: 90%;
	max-width: 1000px;
	margin: 10px auto;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.site-title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 15px;
}

.title-text {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 15px;
}

.about-text {
	text-align: center;
	font-size: 16px;
	display: inline-block;
	margin: 15px 10%;
}

.circle {
	width: 300px;
	height: 300px;
	overflow: hidden;
	float: left;
	margin: 0 15px 0 0;
	display: inline;
	border-radius: 50%;
	border: 10px solid var(--border-color);
	margin-left: 10%;
}

.profile-pic {
	display: inline;
	height: 300px;
	width: auto;
	float: left;
	margin: 0 15px 0 0;
}

a {
	color: var(--text-color);
	text-decoration: none;
}

.contact-button {
	border: 2px solid var(--border-color);
	height: 50px;
	width: 200px;
	margin: 0px auto;
	color: var(--text-color);
	border-radius: 2px;
	display: inline-block;
	background: var(--contact-color);
	vertical-align: top;
	border-radius: 10px;
  }

.contact-text {
	text-align: center;
	display: inline-block;
	padding-top: 3px;
}

.email-text {
	  padding-top: 14px;
}

.link-item {
	display: inline-block;
    width: 250px;
	height: 300px;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 15px;
}

.name {
	text-align: center;
}

.circle-image img {
	height: 250px;
	width: auto;
}

.circle-image {
	height: 250px;
	width: 250px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid var(--border-color);
}

.link-item:hover, .circle-image:hover
{
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: 0 0 2em var(--hover-color);
}

.contact-button:hover
{
	color: var(--contact-hover);
	border-color: var(--contact-hover);
	text-shadow: 0 0 2em var(--contact-hover);
}

