:root {
	--hover-color: #f5f5f5;
	--contact-color: #ffffff;
	--contact-hover: #3a3b3c;
	--tan-color: #C4AA97;
	--gray-color: #97948B;
	--green-color: #272F1E;
	--blue-color: #6EA7D6;
	--black-color: #000000;
	--white-color: #ffffff;
}

body {
	background: var(--black-color);
	color: var(--black-color);
	font-family: 'Open Sans', sans-serif;
}

.site-title-container {
	display: flex;
	flex-direction: column;
	background: var(--black-color);
	color: var(--white-color);
	margin: -1% -1%;
}

.top-container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: left;
	background: var(--white-color);
}

.container {
	width: 100% auto;
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--blue-color);
	border-top: 5px solid var(--black-color);
}

.bottom-container {
	margin: -1% -1%;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: var(--white-color);
	background: var(--black-color);
	border-top: 2px solid var(--black-color);
}

.footer {
	margin: 1.5% -1%;
	color: var(--white-color);
	text-align: center;
	font-size: 10px;
	background: var(--black-color);
}

.site-title {
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin: 2% 2%;
}

.title-text {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	margin: 1%;
}

.about-text {
	text-align: center;
	font-size: 16px;
	display: inline-block;
	margin: 2% 10%;
}

.circle {
	width: 300px;
	height: 300px;
	overflow: hidden;
	float: left;
	display: inline;
	border-radius: 50%;
	border: 10px solid var(--black-color);
	margin: 2% 5% 2% 0%;
}

.profile-pic {
	display: inline;
	height: 300px;
	width: auto;
}

a {
	color: var(--black-color);
	text-decoration: none;
}

.contact-info {
	margin: 0 1% 2%;
}

.contact-button {
	border: 2px solid var(--black-color);
	height: 50px;
	width: 200px;
	margin: 1% auto;
	color: var(--black-color);
	border-radius: 2px;
	display: inline-block;
	background: var(--contact-color);
	vertical-align: top;
	border-radius: 10px;
}

.contact-text {
	text-align: center;
	display: inline-block;
	padding-top: 3px;
}

.email-text {
	  padding-top: 14px;
}

.link-item {
	display: inline-block;
    width: 250px;
	height: 300px;
	vertical-align: top;
	margin: 2% 2%;
}

.name {
	text-align: center;
}

.circle-image img {
	height: 250px;
	width: auto;
}

.circle-image {
	height: 250px;
	width: 250px;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
	border: 3px solid var(--black-color);
}

.link-item:hover, .circle-image:hover
{
	color: var(--hover-color);
	border-color: var(--hover-color);
	text-shadow: 0 0 2em var(--hover-color);
}

.contact-button:hover
{
	color: var(--contact-hover);
	border-color: var(--contact-hover);
	text-shadow: 0 0 2em var(--contact-hover);
}

.text {
	display: inline;
	text-align: left;
	margin: 0 5%;
	margin-bottom: 1%;
}

.text ul {
	margin: 0;
	margin-bottom: 1%;
}

.inline-image {
	margin: 1%;
	text-align: center;
	font-size: 12px;
}

.two-column {
	display: inline;
	text-align: left;
	margin: 0 5%;
	margin-bottom: 2%;
	width: 90%;
}

.two-column ul {
	columns: 2;
	width: 80%;
	margin: 0% 5%;
}

.red {
	color: red;
	text-align: center;
}

.link {
	color: blue;
}